.emptyCartContainer button{
    cursor: pointer;
}

.emptyCartContainer {
    max-width: 850px;
    margin-inline: auto;
    margin: 6rem auto 0;
    padding: 3rem;
    border-radius: 15px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
}

.emptyCartContainer h2 {
    font-size: 2.6rem;
    font-weight: bold;
    position: relative;
    top: -50px;
    width: 205px;
    background: #ededed;
    text-align: center;
}

.emptyCart {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.emptyCart h3 {
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-left: 3rem;
}

.emptyCart img {
    margin-right: 21px;
    filter: drop-shadow(400px 0 .1rem rgb(0, 0, 0));
}

.emptyCart button {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    padding: 1.4rem;
    border-radius: 10px;
    background: var(--primary-color);
    border: none;
    display: block;
    margin-top: 2rem;
}

.itemList{
    display: flex;
    flex-direction: row;
    max-width: 788px;
    align-items: center;
    margin-bottom: 3rem;
}

.itemList__details{
    display: flex;
    flex-direction: row;
}

.itemList span{
    font-size: 1.8rem;
    font-weight: 500;
}

.itemList__details--info{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.itemList__details--info img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 1rem;
}

.itemList__details--info h3{
    font-size: 2.4rem;
    margin-bottom: .4rem;
}

.itemList__details--info p{
    font-size: 1.8rem;
}

.itemList__details--quantity{
    display: flex;
    flex-direction: row;
    width: 30%;
}

.itemList__details--delete{
    display: flex;
    justify-content: center;
    width: 20%;
}

.itemList__details--quantity {
    display: flex;
    justify-content: center;
}

.itemList__details--quantity button{
    width: 45px;
    height: 45px;
    color: #fff;
    border-radius: 0;
    background: var(--primary-color);
    border: 0px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemList__details--quantity button:first-of-type{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.itemList__details--quantity button:last-of-type{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.itemList__details--quantity span{
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    text-align: center;
    width: 125px;
    height: 45px;
    font-size: 2rem;
    color: #000;
    font-weight: bold;
    display: inline-block;
    line-height:42px;
}

.itemList__details--delete button{
    width: 30px;
    height: 30px;
    background: var(--primary-color);
    color: #fff;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.itemList__details--delete button:first-child{
    color: #fff;
    font-size: 30px;
}