.cart {
    font-size: 40px;
    height: 100%;
    color: var(--text-color);
    /* transform: scaleX(-1); */
    cursor: pointer;
}

.cartContainer--icon{
    position: relative;
    cursor: pointer;
}

.cartContainer--icon p{
    position: absolute;
    top: -5px;
    right: -10px;
    text-align: center;
    background: var(--primary-color);
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    width: 25px;
    height: 25px;
    line-height: 24px;
    border-radius: 50%;
}

.cartContainer__content {
    position: fixed;
    top: 60px;
    background: #fff;
    right: -600px;
    transition: left 500ms ease;
    z-index: 2;
    width: 500px;
    height: -moz-calc(100vh - 60px);
    height: -webkit-calc(100vh - 60px);
    height: calc(100vh - 60px);
    padding: 40px;
    transition: right 500ms ease;
    box-shadow: inset 0 0 15px #1da1b069;
}



.cartContainer__overlay {
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    top: 60px;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.cartContainer__content.displayCartContainer {
    right: 0;
}

.cartContainer__overlay.displayCartContainer {
    display: block;
}

.cartContainer__vacio {
    text-align: center;
    margin-top: 1.5rem;
}

.cartContainer__vacio--title {
    font-size: 2.4rem;
}

.cartContainer__vacio--button {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    margin-top: 2rem;
    padding: 1.4rem;
    border-radius: 10px;
    background: var(--primary-color);
    border: none;
    cursor: pointer;
}

.cartContainer__content>* {
    width: 100%;
    color: var(--text-color);
}

.cartContainer__list {
    min-height: 250px;
    max-height: 500px;
    overflow-y: auto;
    padding-bottom: 25px;
    overflow-x: hidden;
}

.cartContainer__list::-webkit-scrollbar {
    width: 1rem;
}

.cartContainer__list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--text-color);
    width: 3rem;
}

.cartContainer__list::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    outline: 1px solid slategrey;
    border-radius: 50px;
}

.list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.329);
    padding-right: 13px;
    margin-top: 30px;
    margin-inline: 13px;
}

.cartContainer--title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.list__item--img {
    width: 100px;
    margin-right: 2rem;
}

.list__item--detalle {
    font-size: 5rem;
    flex-basis: 60%;
}

.list__item--detalle h4 {
    font-size: 2rem;
}

.list__item--delete {
    flex-basis: 10%;
    position: relative;
    width: 100%;
    height: 50px;
}

.list__item--delete span{
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 30px;
    background: rgba(17, 17, 17, 0.2);
    color: #111;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.list__item--valores,
.list__item--valores span {
    font-size: 1.8rem;
}

.finalizarCompra--btn {
    width: 100%;
    padding-block: 1rem;
    font-size: 2rem;
    margin-top: 2rem;
    border-radius: 5px;
    border: none;
    background: var(--text-color);
    color: #fff;
    cursor: pointer;
}

.finalizarCompra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    padding-block: 1rem;
}

.finalizarCompra--total,
.finalizarCompra--number {
    font-size: 1.8rem;
    font-weight: bold;
}

.finalizarCompra--total {
    text-transform: uppercase;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 500px){
    .cartContainer__content{
        width: 100vw;
        padding: 15px;
    }
    .cartContainer__list {
        max-height: 400px;
    }
}

/* CCSTransitions */
.itemGroupCartWidget-enter {
    opacity: 0;
    left: -100%;
}

.itemGroupCartWidget-enter-active {
    opacity: 1;
    left: 0;
    transition: all 500ms ease-in;
    position: relative;
}

.itemGroupCartWidget-exit {
    opacity: 1;
    left: 0;
    position: relative;
}

.itemGroupCartWidget-exit-active {
    left: 100%;
    opacity: 0;
    transition: all 500ms ease-in;
}
/* CCSTransitions */