.card {
    height: 380px;
    width: 286px;
    background: var(--white);
    display: inline-flex;
    flex-direction: column;
    border-radius: 5px;
    margin-inline: auto;
    box-shadow: 0 0 8px 4px rgba(133, 133, 133, 0.178);
}


.card__header {
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.card__header--title {
    font-size: 2rem;
    flex-basis: 75%;
    font-weight: bold;
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding-inline: 5%;
}

.card__header--price {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    width: 70px;
    color: #053b41;
}

.card__img {
    width: 100%;
    height: 230px;
}

.card__buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    height: 95px;
}

.card__buttons--icon {
    color: #7c7c7c;
    font-size: 2rem;
    transition: color 150ms ease-out;
}

.card__buttons--icon:hover {
    opacity: .8;
    transform: scale(1.03);
}

.card__buttons--buy {
    font-size: 1.8rem;
    padding: .4em;
    background: transparent;
    color: var(--primary-color);
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
}


.card__buttons--icon,
.card__buttons button {
    margin-inline: 1rem;
    cursor: pointer;
}

.card__buttons--container {
    position: relative;
}

.copied {
    opacity: 0;
    transition: opacity 500ms ease;
    position: absolute;
    font-size: 1.6rem;
    bottom: 175%;
    right: 5px;
    background: #badfe3;
    border-radius: 5px;
    padding: 0.5em;
    color: #022d31;
}

.copied::before{
    content: '';
    position: absolute;
    top: 100%;
    right: 10%;
    border: 6px;
    border-style: solid;
    border-color: #badfe3 transparent transparent;
}

.copied--active {
    opacity: 1;
}