.contador__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contador {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.contador button{
    width: 45px;
    height: 45px;
    color: #fff;
    border-radius: 0;
    background: var(--primary-color);
    border: 0px;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contador button:first-of-type{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.contador button:last-of-type{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contador span{
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    text-align: center;
    width: 125px;
    height: 45px;
    font-size: 2rem;
    color: #000;
    font-weight: bold;
    display: inline-block;
    line-height:42px;
}


.contador__boton,
.contador__comprar,
.contador__finalizarCompra,
.contador__seguirComprando{
    cursor: pointer;
}

.contador__comprar,
.contador__finalizarCompra,
.contador__seguirComprando {
    font-size: 1.6rem;
    color: #fff;
    height: 30px;
    margin-inline: .5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--primary-color);
}



.containerCompra{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
}

.contador__comprar,
.contador__finalizarCompra,
.contador__seguirComprando{
    box-sizing: content-box;
    font-weight: bold;
    color: var(--white);
    background: var(--text-color);
    padding: .1em;
    width: 180px;
    height: 50px;
    margin-block: 1rem;
    align-self: flex-end;
    letter-spacing: 1px;
}

.contador__comprar{
    background: var(--primary-color);
    color: #fff;
    width: 100%;
}

.contador__stock {
    font-size: 1.8rem;
    color: #4b4343;
}

.productoComprado{
    display: flex;
    align-items: center;
}
.productoComprado__icon{
    font-size: 2rem;
    font-weight: bold;
}

.contador__seguirComprando,
.contador__finalizarCompra{
    background: var(--text-color);
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contador__seguirComprando{
    background: var(--primary-color);
}

.disabled{
    background: #785966 !important;
    pointer-events: none;
}

.Toastify__toast-theme--light{
    background: #badfe3 !important;
    font-size: 45px;
    color: #053b41 !important;
}

.Toastify__progress-bar-theme--light{
    background: #05282c !important;
}

.Toastify__toast-icon svg{
    fill: #053b41;
}

.Toastify__close-button--light svg{
    fill: #053b41 !important;
    opacity: 1 !important;
}

@media only screen and (max-width: 900px){
    .contador__seguirComprando, .contador__finalizarCompra {
        width: 95%;
    }
}