.formContainer,
input {
    font-size: 2rem;
}

.Payment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input {
    margin-bottom: 20px;
}

.formContainer {
    padding: 30px;
    background: #dfe9ea;
    align-self: flex-start;
}

.formContainer h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.payment-form {
    display: flex;
    flex-direction: column;
    width: 325px;
}

.payment-form label {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.payment-form input {
    padding: .5em;
    background: #55bcc8b7;
    border: none;
    border-radius: 7px;
    color: #000;
    outline: none;
}

.payment-form input:-webkit-autofill,
.payment-form input:-webkit-autofill:hover, 
.payment-form input:-webkit-autofill:focus, 
.payment-form input:-webkit-autofill:active{
    background-color: red;
}

.payment-form input:last-child {
    background: #064349;
    cursor: pointer;
    color: #fff;
    transition: filter 150ms ease-in;
    width: 100%;
}

.payment-form input:last-child:hover {
    filter: brightness(1.2);
}


.listItems-container {
    align-self: flex-start;
    margin: 30px 0 0 6%;
    color: var(--text-color);
}

.listItems__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 330px;
    margin-bottom: 1.8rem;
}

.listItems__item--imgInfo {
    flex-basis: 70px;
    position: relative;
}

.listItems__item--imgInfo img {
    width: 64px;
    border-radius: 8px;
}

.listItems__item--imgInfo span {
    position: absolute;
    right: -3px;
    top: -4px;
    width: 18px;
    height: 18px;
    font-size: 1.2rem;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    background: var(--primary-color);
    color: #fff;
}

.listItems__item h3 {
    flex-basis: 60%;
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 1em;
}

.listItems__item p {
    flex-basis: 20%;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: right;
}

.listItems-container__subtotal,
.listItems-container__total {
    border-top: 1px solid var(--primary-color);
    padding-block: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listItems-container__subtotal>span,
.listItems-container__total>span {
    font-weight: 500;
}

.listItems-container__total>span {
    font-size: 1.6rem;
}

.listItems-container__total--info span {
    font-weight: 400;
    font-size: 1.2rem;
}

.footer-text>* {
    font-size: 1.4rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.formContainer h2,
.payment-form label{
    color: #064349;
}

.errorMessage{
    color: red;
    font-size: 14px;
}

.listItems-displayer{
    height: 50px;
}

.listItems-displayer h2{
    height: 50px;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listItems-displayer h2 svg{
    margin-right: 10px;
}
.listItems{
    transition: all 500ms ease;
}

.listItems-displayer .listItems{
    transform-origin: top;
    opacity: 0;
    height: 0;
}
.listItems-displayer.active .listItems{
    height: 100%;
    opacity: 1;
}

.listItems-displayer.active{
    height: 100%;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px){
    .Payment {
        flex-direction: column-reverse;
        max-width: 400px;
        margin-inline: auto;
    }
}
@media only screen and (max-width: 678px) {
    .formContainer {
        padding: 15px;
        background: #dfe9ea;
        align-self: flex-start;
        margin-inline: auto;
    }
    .listItems-container {
        align-self: flex-start;
        margin: 3rem auto;
        color: var(--text-color);
    }
}
/* MEDIA QUERIES */